# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#local eclipse workspace folders
.metadata
.recommenders

#java compiled class files
*.class

#log files
*.log

#final jar file output for running the simulators
*.jar
\.idea/workspace\.xml
\.idea/libraries
out/
bin/
/cpu-emulator-app/build/
/hack-assembler/build/
/hack-computer-parts/build/
/hack-controller/build/
/hack-cpu-emulator/build/
/hack-events/build/
/hack-gates/build/
/hack-gui/build/
/hack-hardware-simulator/build/
/hack-simulator-gui/build/
/hack-translators/build/
/hack-utilities/build/
/hack-virtual-machine/build/
/hack-vm-emulator/build/
/hardware-simulator-app/build/
/text-comparer/build/
/vm-emulator-app/build/
/.gradle/
/.idea/
